@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Mapped to High Density standard Tailwind colors */
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-900: #1e3a8a;

  --color-medical-green-50: #ecfdf5;
  --color-medical-green-100: #d1fae5;
  --color-medical-green-500: #10b981;
  --color-medical-green-600: #059669;

  --color-accent-orange-100: #ffedd5;
  --color-accent-orange-400: #fb923c;
  --color-accent-orange-500: #f97316;
  --color-accent-orange-600: #ea580c;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased selection:bg-blue-100 selection:text-blue-900;
  }
}
